.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.button {
  margin-top: 5px;
  background-color: transparent;
  border-radius: 20%;
  height: 30px;
}
